@import "tailwindcss";

:root {
  --nav-height: 35px;
}

/* PT Serif - latin */
@font-face {
  font-display: swap;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-serif-v19-latin-regular.woff2") format("woff2");
}

@theme {
  --default-font-family: "PT Serif", serif;
}
